force-app/main/default/flows/TCC_Record_Update_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_TTC_Record_Assign</name>
        <label>New TTC Record Assign</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <actionName>TTC_Record__c.TTC_Record_Assignment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TTC_Record__c.TTC_Record_Assignment_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TTC_Status_is_Updated</name>
        <label>TTC Status is Updated</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <actionName>TTC_Record__c.TTC_Status_Update_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TTC_New_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TTC_Record__c.TTC_Status_Update_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Decision_for_Account_Name</name>
        <label>Decision for Account Name</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>TCC_Action_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_Name_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acc_Name_with_Lead</targetReference>
            </connector>
            <label>If Account Name is blank</label>
        </rules>
        <rules>
            <name>If_Account_Name_and_Lead_are_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acc_Name_with_Opp</targetReference>
            </connector>
            <label>If Acc Name and Lead are blank</label>
        </rules>
        <rules>
            <name>if_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Acc_Name_with_Lead</targetReference>
            </connector>
            <label>acc name is filled and lead is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_TTC_Status_Updated</name>
        <label>Is TTC Status Updated</label>
        <locationX>446</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>TTC_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TTC_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TTC_Status_is_Updated</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requestor_is_blank</name>
        <label>Requestor is blank?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Requestor_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCC_Action_is_Changed</name>
        <label>TCC Action is Changed?</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Is_TTC_Status_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TTC_action__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TCC_Status_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TTC_New_Record</name>
        <label>TTC New Record</label>
        <locationX>446</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TTC_Collaborated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TTC_status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TTC_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTC Collaborated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_to_the_Queue</targetReference>
            </connector>
            <label>TTC Collaborated</label>
        </rules>
    </decisions>
    <description>No assignment element . Only update element</description>
    <environments>Default</environments>
    <interviewLabel>TCC Record Update 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TCC Record Update (with update Element)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requestor_is_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TTC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Record_to_the_Queue</name>
        <label>Assign Record to the Queue</label>
        <locationX>314</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>New_TTC_Record_Assign</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Acc_Name_with_Lead</name>
        <label>Copy 1 of Update Acc Name with Lead</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>TCC_Action_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Lead__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acc_Name_with_Lead</name>
        <label>Update Acc Name with Lead</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>TCC_Action_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Lead__r.Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acc_Name_with_Opp</name>
        <label>Update Acc Name with Opp</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>TCC_Action_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Requestor_Field</name>
        <label>Update Requestor Field</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Decision_for_Account_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TCC_Status_Field</name>
        <label>Update TCC Status Field</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Is_TTC_Status_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>TTC_status__c</field>
            <value>
                <elementReference>$Record.TTC_action__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <object>TTC_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
